<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增账户</title>
    <link rel="stylesheet" href="../static/style.css">
    <style>
        .addAccount {
            margin-left: 30px;
            margin-top: 15px;
        }
    </style>
</head>
<body>
<!-- 整体布局 -->
<div class="container right-panel-active">

    <div class="container_from container_signin">
        <div class="addAccount">
            <a href="main?currentPage=1" style="margin-left: 30px;">返回</a>
            <span th:text="${msg}" style=" margin-left: 30px; text-align:center;color: red"></span>
        </div>
        <form class="from" id="from2" method="post" th:action="@{/manage/addOrEditAccount}">
            <input type="text" name="account" placeholder="请输入您的账号" class="input" required="required">
            <input type="text" name="userName" placeholder="请输入您的姓名" class="input">
            <input type="text" name="password" placeholder="请输入您的密码" class="input" required="required">
            <input type="text" name="mobile" placeholder="请输入您的手机号" class="input">
            <input type="text" name="company" placeholder="请输入您的单位" class="input">
            <input type="text" name="email" placeholder="请输入您的Email" class="input">
            <input type="submit" class="btn" value="保存"/>
        </form>
    </div>
</div>
</body>
</html>